<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIQO_CHAT_V1_1_ENABLED</key>
	<true/>
	<key>AIQO_DEV_UNLOCK_ALL</key>
	<false/>
	<key>AUDIT_LOGGER_VERBOSE</key>
	<false/>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>aiqo.notifications.refresh</string>
		<string>aiqo.notifications.inactivity-check</string>
		<string>aiqo.brain.nightly</string>
	</array>
	<key>BRAIN_DASHBOARD_ENABLED</key>
	<false/>
	<key>CAPTAIN_API_KEY</key>
	<string>$(CAPTAIN_API_KEY)</string>
		<key>CAPTAIN_BRAIN_V2_ENABLED</key>
		<true/>
		<key>CAPTAIN_VOICE_API_KEY</key>
		<string>$(CAPTAIN_VOICE_API_KEY)</string>
		<key>CAPTAIN_VOICE_API_URL</key>
		<string>$(CAPTAIN_VOICE_API_URL)</string>
		<key>CAPTAIN_VOICE_CLOUD_ENABLED</key>
		<true/>
		<key>CAPTAIN_VOICE_MODEL_ID</key>
		<string>$(CAPTAIN_VOICE_MODEL_ID)</string>
		<key>CAPTAIN_VOICE_VOICE_ID</key>
		<string>$(CAPTAIN_VOICE_VOICE_ID)</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.mraad500.aiqo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aiqo</string>
				<string>aiqo-spotify</string>
			</array>
		</dict>
	</array>
	<key>COACH_BRAIN_LLM_API_KEY</key>
	<string>$(COACH_BRAIN_LLM_API_KEY)</string>
	<key>CRISIS_DETECTOR_ENABLED</key>
	<true/>
	<key>LEARNING_CHALLENGE_V2_ENABLED</key>
	<true/>
	<key>LEARNING_SPARK_STAGE2_ENABLED</key>
	<true/>
	<key>LEARNING_VERIFICATION_ON_DEVICE_ENABLED</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>spotify</string>
		<string>spotify-action</string>
		<string>instagram-stories</string>
		<string>instagram</string>
	</array>
	<key>MEMORY_V4_ENABLED</key>
	<false/>
	<key>NOTIFICATION_BRAIN_ENABLED</key>
	<false/>
	<key>NSAlarmKitUsageDescription</key>
	<string>AiQo uses alarm access to save your smart wake time as an alarm on your device.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.aiqo.startWalk</string>
		<string>com.aiqo.startRun</string>
		<string>com.aiqo.startHIIT</string>
		<string>com.aiqo.openCaptain</string>
		<string>com.aiqo.todaySummary</string>
		<string>com.aiqo.logWater</string>
		<string>com.aiqo.openKitchen</string>
		<string>com.aiqo.weeklyReport</string>
	</array>
	<key>PLANK_LADDER_CHALLENGE_ENABLED</key>
	<false/>
	<key>SMART_WATER_TRACKING_ENABLED</key>
	<true/>
	<key>PROACTIVE_CULTURAL_ENABLED</key>
	<false/>
	<key>PROACTIVE_EMOTIONAL_ENABLED</key>
	<false/>
	<key>PROACTIVE_MEMORY_CALLBACK_ENABLED</key>
	<false/>
	<key>SAFARI_VIEW_CONTROLLER_ENABLED</key>
	<true/>
	<key>SPOTIFY_CLIENT_ID</key>
	<string>$(SPOTIFY_CLIENT_ID)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>TRIBE_BACKEND_ENABLED</key>
	<false/>
	<key>TRIBE_FEATURE_VISIBLE</key>
	<false/>
	<key>TRIBE_SUBSCRIPTION_GATE_ENABLED</key>
	<false/>
	<key>USE_CLOUD_PROXY</key>
	<string>$(USE_CLOUD_PROXY)</string>
	<key>USE_CHAT_CLOUD_PROXY</key>
	<string>$(USE_CHAT_CLOUD_PROXY)</string>
	<key>USE_VOICE_CLOUD_PROXY</key>
	<string>$(USE_VOICE_CLOUD_PROXY)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
